<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/semantic.min.css">
    <link rel="stylesheet" href="public/style.css">
    <title>FAQ</title>
</head>

<body>
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui menu">
                <h1 class="ui header" id="siteheading">E-Lance</h1>
                
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="sixteen wide column">
            <h2 class="ui header">
                How to use the site?
            </h2>
            <h3 class="ui header">
                <ul>If you want to get a job done, you can sign up as a recruiter </ul>
                <ul>If you want to get do work, sign up as a freelancer</ul>
            </h3>
            <h2 class="ui header">
                How bidding works?
            </h2>
            <h3 class="ui header">
                <ul>Recruiters can post jobs </ul>
                <ul>Freelancers can bid on these jobs</ul>
                <ul>Recrtuier can accept any bid he likes</ul>
                <ul>The job goes to the freelancer</ul>
            </h3>
            <h2 class="ui header">
                How do I know if a freelancer is good or not?
            </h2>
            <h3 class="ui header">
                <ul>You can see his rating by going to his profile by clicking the name of the bidder </ul>
                <ul>There are reviews of previous recruiters</ul>
                <ul>By reading the reviews you can make sure that the freelancer is right for your job</ul>
            </h3>
        </div>
    </div>
</body>

</html>